.news-container-flexbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.news-list {
    list-style: none;
}

.news-list li {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

.news-list a {
    text-decoration: none;
    color: #333;
}

.news-list img {
    object-fit: cover;
    max-width: 100%;
    height: auto;
}

.pagination {
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination a, .pagination span {
    display: inline-block;
    padding: 8px 16px;
    margin: 0 4px;
    text-decoration: none;
    color: white;
}

.pagination a:hover {
    background-color: gray;
}

.pagination span:hover {
    color: black;
}

.pagination .current {
    background-color: #4CAF50;
    color: white;
}
